/*---RESET AND FONT---*/

@import url("https://fonts.googleapis.com/css?family=Barlow|Tomorrow:400,700&display=swap");
*{margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Barlow'}
  
/*---BODY AND BACKGROUND---*/

body{padding: 1%;
background-image: 

linear-gradient(  rgba(233, 104, 104, 0.45), 
                  rgba(236, 110, 110, 0.45)),
url(../img/cyber.gif); background-repeat:repeat;
background-position: center;
background-size: cover;}

.personal {line-height: 2;
font-weight: bold;
font-size: clamp(18px, 5vw, 1rem);}

.personal input {font-size: clamp(18px, 5vw, 1rem);}

/*---HR, H1, H2, H3, INPUTS, PLACEHOLDER, SPAN---*/

span{font-size: clamp(18px, 5vw, 1rem);
font-style: italic;
text-transform: uppercase;}
::placeholder{color: black;}

hr{border-color: #0BC4CF;}

h1{text-align: center;
font-weight: bold;
color: red;
font-size: clamp(35px, 5vw, 1rem);}

h2{text-align: center;
color: red;
font-size: clamp(30px, 5vw, 1rem);}

h3{color: red;
font-size: clamp(30px, 5vw, 1rem);}

input{border-color: #0BC4CF;}

input:focus {outline: none !important;
border-color: #fbf665;
box-shadow: 0 0 10px #719ECE;}

/*---ATTRIBUTES'S TABLE---*/

table {
  border-collapse: separate;
  border-spacing: 0.5rem;}

#int-total, #force-total, #agil-total, #tec-hab-total, #cool-total{font-size: clamp(22px, 5vw, 1rem);
  color: #0BC4CF;
text-decoration: underline;}

table input{width: 75%;
text-align: center;
border-color: #73fffe;
padding: 1%;
font-size: clamp(18px, 5vw, 1rem);}

tr th{text-align: left;
font-size: clamp(18px, 5vw, 1rem);}

td{font-weight: bold;
font-style: italic;
font-size: clamp(18px, 5vw, 1rem);
color: #0BC4CF;}

/*---CYBERWARE---*/

.cyberware{line-height: 2;
  font-size: clamp(8px, 5vw, 1rem);}

.cyberware label{font-weight: bold;
  font-size: clamp(18px, 5vw, 1rem);}

/*---INVENTORY*/

.inventario{line-height: 2;
  font-size: clamp(18px, 5vw, 1rem);}

.inventario input{font-size: clamp(18px, 5vw, 1rem);}

textarea{border-color: #73fffe;
  font-size: clamp(18px, 5vw, 1rem);}

textarea:focus { 
    outline: none !important;
    border-color: #fbf665;
    box-shadow: 0 0 10px #719ECE;
    font-size: clamp(18px, 5vw, 1rem);}

/*<-- Buttons -->*/

.btn{position:fixed}

.ok {
    width: 9rem;
    height: 3rem;
    border: solid .10rem black;
    outline: none;
    background-color: rgba(115, 255, 254, 0.5);
    cursor: pointer;
    position: relative;
    float: right;
    font-family: Tomorrow, sans-serif;
    font-size: .90rem;
    text-transform: uppercase;
    color: black;
    clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
  }
  
  .ok__content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    background-color: black;
    clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
  }

  .reset {
    width: 9rem;
    height: 3rem;
    border: solid .10rem black;
    outline: none;
    background-color: rgba(255, 0, 60, 0.5);
    cursor: pointer;
    position: relative;
    font-family: Tomorrow, sans-serif;
    font-size: .90rem;
    text-transform: uppercase;
    color: black;
    clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
  }
  
  .reset__content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: black;
    clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
  }