@import url("https://fonts.googleapis.com/css?family=Barlow|Tomorrow:400,700&display=swap");
*{margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow'}

body{padding: 1%;
background-color: #FCEE09;}

hr{border-color: #FF003C;}

h1{text-align: center;}

h2{text-align: center;}

input{border-color: #00F0FF;}

input:focus { 
    outline: none !important;
    border-color: #FF003C;
    box-shadow: 0 0 10px #719ECE;}

.cyberware{line-height: 2;}

.inventario{line-height: 2;}

table input{width: 75%;
text-align: center;
border-color: #00F0FF;}

tr th{text-align: left;}

textarea{border-color: #00F0FF;}

textarea:focus { 
    outline: none !important;
    border-color: #FF003C;
    box-shadow: 0 0 10px #719ECE;}

.personal-form{line-height: 2;
font-weight: bold;}

::placeholder{color: #554B41;}
