@import url("https://fonts.googleapis.com/css?family=Barlow|Tomorrow:400,700&display=swap");
*{margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow'}

body{padding: 1%;
  
    background-image: 
     
      linear-gradient(
        rgba(150, 240, 250, 0.45), 
        rgba(150, 240, 250, 0.45)
      ),
      /* your image */
      url(../img/cyber.gif); background-repeat:repeat;
  background-position: center;
background-size: cover;}

hr{border-color: #FF003C;}

h1{text-align: center;}

h2{text-align: center;}

input{border-color: #FCEE0C;}

input:focus { 
    outline: none !important;
    border-color: #FF003C;
    box-shadow: 0 0 10px #719ECE;}

.cyberware{line-height: 2;}
.cyberware label{font-weight: bold;}

.inventario{line-height: 2;}

table input{width: 75%;
text-align: center;
border-color: #FCEE0C;}

tr th{text-align: left;}

textarea{border-color: #FCEE0C;}

textarea:focus { 
    outline: none !important;
    border-color: #FF003C;
    box-shadow: 0 0 10px #719ECE;}

.personal {line-height: 2;
font-weight: bold;}

::placeholder{color: #554B41;}

/*<-- Buttons -->*/

.btn{position:fixed}

.ok {
    width: 9rem;
    height: 3rem;
    border: solid .10rem black;
    outline: none;
    background-color: green;
    cursor: pointer;
    position: relative;
    float: right;
    font-family: Tomorrow, sans-serif;
    font-size: .90rem;
    text-transform: uppercase;
    color: black;
    clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
  }
  
  .ok__content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    background-color: black;
    clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
  }

  .reset {
    width: 9rem;
    height: 3rem;
    border: solid .10rem black;
    outline: none;
    background-color: #FF003C;
    cursor: pointer;
    position: relative;
    font-family: Tomorrow, sans-serif;
    font-size: .90rem;
    text-transform: uppercase;
    color: black;
    clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
  }
  
  .reset__content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: black;
    clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
  }